#title {
  background-color: #ff4c68;
  color: white;
}
.body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
h2 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 0 5% 0;
}
.testimonials-img {
  margin-right: 2%;
  width:10%;
  border-radius: 100%;
}
.container-fluid {
  padding: 3% 13%;
}
.mobile-image {
  transform: rotate(25deg);
  width: 60%;
  right: 30%;
  position: absolute;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .mobile-image {
    position: static;
    transform: rotate(0);
  }

}
.btn {
  margin: 10% 5% 10% 0;

}

.icon {
  color:#ff4c68;
  margin: 15px;
}

.icon:hover {
  color: #ff7c88;
}
#pricing {
  padding: 70px;
  text-align: center;

}
#features {
  position: relative;
  text-align: center;
  padding: 8%;
  background-color: white;

}
#testimonials{
  background-color: #ff4c68;
  color: white;
  text-align: center;

}
.carousel-item {
  padding: 3% 13%;

}
#press {
  background-color: #ff4c68;
  text-align: center;
  padding: 3%;
}
.press-image {
  width:20%;
  padding-right: 5%;
}
.features-p {
  display: inline-block;
  text-align: center;

}
.navbar-brand{
  font-weight: bold;
  font-size:130%;
  font-family: 'ZCOOL KuaiLe', cursive;
}
.nav-item {
  padding-right: 12%;
  font-size:120%;
  font-family: 'Montserrat-black', sans-serif;;
}
.price-card {
  margin-bottom: 30px;
}
#cta {
  background-color: #ff4c68;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10%;
}
#footer {
  text-align: center;
  padding: 8%;
}
h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: bold;

  display: inline-block;
}
.cta-div {
  width: 70%;
  margin: 0 auto 0 auto;
}
.cta-header {
  margin: 0 0 0 0;
  font-size: 230%;

}
.footer-icons {
  margin: 0 10px 10px 0;
}
.footer-Copyright {
  font-weight:bold;

}
